.cover-wrapper {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    background-image: linear-gradient(45deg, #660000, #7c7c7c);
}
.cover {
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: transform 150ms ease;
}
